.addNew{
	position:relative;
	height:10px;
	font-weight:bold;
	fontsize:10px;
	left:2px;
	color:black;
}

.removeEntry{
	position:relative;
	height:10px;
	font-weight:bold;
	fontsize:10px;
	left:2px;
	color:black;
}

.addNew:hover{
	font-weight:bold;
	color: #ff99cc;
}

.journalDiv{
	position:absolute;
	background: url(../images/paper1.jpg);
	top:70px;
	left:20%;
	height:95%;
	width:60%;
	z-index:10000;
	display:table;
}

.journalTable{
	width:100%;
	border-collapse: collapse;
}
	
.journalTable td { 
	overflow: hidden; 
}


.journalDateRow{
	position:relative;
	top:5px;
	left:20px;
	height:100%;
	width:95%;
}

.journalEntryRow{
	position:relative;
	top:5px;
	left:50px;
	width:90%;
}

.journalDate{
	font-family:"Papyrus", fantasy;
	font-style:italic;
	font-size:18px;
	font-weight:bold;
	position:relative;
	left:1%;
	width:98%;
	opacity:0.6;
}

.editjournalDate{
	font-family:"Papyrus", fantasy;
	font-style:italic;
	font-size:18px;
	font-weight:bold;
	position:relative;
	left:1%;
	width:98%
	opacity:1;
}

.journalEntry{
	font-family:"Papyrus", fantasy;
	font-style:italic;
	font-size:20px;
	font-weight:normal;
	padding-bottom:10px;
	width: 90%; 
    box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

.journalText{
	font-family:"Papyrus", fantasy;
	font-style:italic;
	font-size:20px;
	font-weight:normal;
	resize:none;
	border-style:none;
	border-color:transparent;
	background-color: transparent;
	opacity: 0.7;
	width:80%;
}

.editjournalText{
	font-family:"Papyrus", fantasy;
	font-style:italic;
	font-size:24px;
	font-weight:normal;
	resize:none;
	border-style:none;
	background-color: transparent;
	opacity:1;
	width:80%;
}